
<nav class="navbar navbar-expand-md   " style="background-color:#FFFF">
    <div class="container-fluid">
      
        <a class="navbar-brand" href="#" ><img src="https://cdn.pixabay.com/photo/2013/07/13/01/19/game-controller-155530_1280.png" alt="" width="70em" style="position:relative;top:-10%"></a>
        <h1 class="display-4 me-auto" style="  display: inline;color:black"> GameStore</h1>
      
  
      <button class="navbar-toggler border-dark p-1 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"><i class="bi bi-menu-button-wide"></i></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tests
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="test1" routerLinkActive="active" >Test1</a></li>
              <li><a class="dropdown-item" routerLink="test2" routerLinkActive="active" >Test2</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="HOME" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SIGNIN"  routerLinkActive="active">Sign in</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="SIGNUP"  routerLinkActive="active">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="CONTACTUS"  routerLinkActive="active">Contactus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="PRODUCTS"  routerLinkActive="active">Products</a>
          </li>
          



        </ul>

      </div>
    </div>
    
  </nav>
  
