
<nav class="navbar navbar-expand-md   " style="background-color:#0C090A">
    <div class="container-fluid">
      
        <a class="navbar-brand" href="#" ><img src="https://cdn.pixabay.com/photo/2013/07/13/01/19/game-controller-155530_1280.png" alt="" width="70em" style="position:relative;top:-10%"></a>
        <h1 class="display-4 me-auto" style="  display: inline;color:aliceblue"> GameStore</h1>
      
  
      <button class="navbar-toggler border-dark p-1 mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"><i class="bi bi-menu-button-wide"></i></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> 
      </div>
    </div>
    
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="HOME">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="SIGNIN">Sign in</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="SIGNUP">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="CONTACTUS">Contactus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="PRODUCTS">Products</a>
          </li>


        </ul>

      </div>
    </div>
  </nav>