<!-- container -->
    <div class="text-center">
        <h1 class="mx-auto d-block my-4" style="font-family: 'Itim', cursive;color:white;">Sign In
        </h1>
    </div>
    <!-- inner block -->
    <div class="block  mx-auto  px-5  bg pb-2">


        <!-- Form -->
        <form #FormReferenceResult="ngForm" (ngSubmit)="GetDataOfUser(FormReferenceResult)" class="form-floating mb-2 mt-4">

            <div class="form-floating mb-2">

                <input type="text" name="username" id="UN" class="form-control" placeholder="username" ngModel>
                <label for="UN">username : </label>
            </div>

            <div class="form-floating mb-2">

                <input type="password" name="Password" id="ID" class="form-control" placeholder="Password" ngModel>
                <label for="ID">Password</label>
            </div>

            
            <button type="submit" class="btn btn-success mt-4 d-block mx-auto"><i class="fas fa-sign-in-alt"></i> 
                SUBMIT</button>
        </form>
    </div>