.block {
    /* background-color: rgb(63, 245, 230); */
    max-width: 70%;
}

.form-control {
    margin: 0px;
}
@media screen and (min-width:576px) {
    .container{
        width: 100%;
        margin: 0px;
    }
    .block{
        width: 100%;
        margin: 0px;
        padding: 2px;
    }
}
