<div class="table-responsive mt-3">
    <table class="table table-dark align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Website</th>
                <th scope="col">CompanyName</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let user of TestData;let ind=index'>

                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>

                <td>{{user.website}}</td>
                <td>{{user.company.name}}</td>

                <td><button class="btn-sm" (click)="GetUserDetails(ind)" >More info</button></td>
            </tr>
        </tbody>
    </table>

</div>