
<div class="p-5 mt-5" style="background-color:  white;">

    <img src={{User.img}} alt="ProfileImg" class="d-block  m-2">
    <p><strong>id : </strong>{{User.id}}</p>
    <p><strong>name : </strong>{{User.name}}</p>
    <p><strong>email : </strong>{{User.email}}</p>
    <p><strong>phone : </strong>{{User.phone}}</p>
    <p><strong>profession : </strong>{{User.profession}}</p>
    <p><strong>address street : </strong>{{User.address.street}}</p>
    <p><strong>address suite : </strong>{{User.address.suite}}</p>
    <p><strong>address city : </strong>{{User.address.city}}</p>
    <p><strong>address zipcode : </strong>{{User.address.zipcode}}</p>
    <p><strong>address geo lat : </strong>{{User.address.geo.lat}}</p>
    <p><strong>address geo lng : </strong>{{User.address.geo.lng}}</p>

</div>